.mainContainer {
    width: 80%;
    height: fit-content;
    min-height: 100%;
    background-color: #FEFEFE;
    padding: 30px 50px 30px 30px ;
    border-left: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 0;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.userInfo{
    display: flex;
    align-items: center;
}

.userInfo svg {
    width: 21px;
    height: 21px;
}

.notificationContainer {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.userInfo .badgeNotification{
	position: absolute;
    background-color: goldenrod;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    right: 3px;
    top: 1px;
}

